<html>
  <div class="bodydiv">
    <form id="search_genres" action="" method="" onsubmit="return false">
        <input id="genre_search" type="text" placeholder="Enter Search..." name="genre_search">
        <select id="genrelist" name="genrelist" form="search_genres">
          <option value="all">All</option>
          <option value="title">Title</option>
          <option value="genre">Genre</option>
        </select>
        <input type="submit" value="Search" onclick="searchGenres()">
    </form>

    <br>

    <table style="border: 1px solid black">
        <thead>
            <tr style="border: 1px solid black">
                <th style="border: 1px solid black">Title</th>
                <th style="border: 1px solid black">Genre</th>
            </tr>
        </thead>
        <tbody>
            {{#each game}}
            <tr style="border: 1px solid black">
                <td style="border: 1px solid black">{{Title}}</td>
                <td style="border: 1px solid black">{{Genre}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{!-- <h2>Add student:</h2>
    <form id="addperson" action="/student" method="post">
        <input type="text" placeholder="student Full Name" name="name">
        <input type="submit" value="Submit">
     </form>
    <br/> --}}

    {{!-- <h2>Change Student Name</h2>
    <form id="change_student">
    <select id="student_to_change">
        {{#each student}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <input type="text" placeholder="New Name" name="name">
    <button onclick="updateStudent()">Change</button>
    </form> --}}
  </div>
</html>
