<!doctype html>
<html>
<head>
		<title>Danh's Video Game Database</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
		<link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
    <link rel="stylesheet" href="/style.css" media="screen">
</head>
<header>
  <nav class="navbar">

    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/games">Games</a>
      <a href="/releases">Releases</a>
      <a href="/ratings">Ratings</a>
      <a href="/genres">Genres</a>
      <a href="/publishers">Publishers</a>
      <a href="/developers">Developers</a>
    </div>
  </nav>
</header>
<body>
	{{{body}}}
</body>
</html>
